version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" # run the `echo` command


workflows:
  pr-workfloww:
    jobs:
      - build
    when:
      equal: [ development, << pipeline.git.branch >> ]