version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" # run the `echo` command
      - run: echo "<< pipeline.git.branch >>"

workflows:
  auto-deoploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - development


